/*Responsive*/
@media only screen and (max-width: 1050px) {
    .degrade_haut {
        top: -75px;
    }
}
@media only screen and (max-width: 900px) {
    #header {
        background-color: white;
    }
    #header .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        z-index: 99999;
    }
    #home .home_flex {
        margin-top: 6rem;
    }
    .burger {
        display: block;
        margin-right: 2rem;
    }
    .burger.active .bar:nth-child(2){
        opacity: 0;
    }
    .burger.active .bar:nth-child(1){
        transform: translateY(10px) rotateZ(45deg);
    }
    .burger.active .bar:nth-child(3){
        transform: translateY(-8px) rotateZ(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        margin-top: 4rem;
        background-color: white;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
        top: 0;
    }
    #home .service h1 {
        font-size: 2rem;
        top: -80px;
    }
}
@media only screen and (max-width: 890px) {
    .degrade_haut {
        top: -72px;
    }
}
@media only screen and (max-width: 850px) {
    .degrade_haut {
        top: -70px;
    }
}
@media only screen and (max-width: 820px) {
    .degrade_bas {
        bottom: -40px;
    }
}
@media only screen and (max-width: 810px) {
    .degrade_haut {
        top: -68px;
    }
}
    @media only screen and (max-width: 800px) {
    #home .service .service_bloc {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
        #home .service .service_bloc .bloc {
            width: 100%;
            display: flex;
            flex-flow: column;
            text-align: center;
        }
}
@media only screen and (max-width: 790px) {
    .degrade_haut {
        top: -65px;
    }
    #home .service .service_bloc .bloc_image {
        margin-top: 1rem;
    }
}
@media only screen and (max-width: 790px) {
    .degrade_haut {
        top: -63px;
    }
}
@media only screen and (max-width: 730px) {
    .degrade_haut {
        top: -45px;
    }
    #home .service h1 {
        font-size: 2rem;
        top: -40px;
    }
}
@media only screen and (max-width: 700px) {
    #contact .flex_right {
        display: none;
    }
    #contact .flex_left {
        width: 100%;
        margin: auto 0;
    }
}
@media only screen and (max-width: 730px) {
    .degrade_haut {
        top: -27px;
    }
}
@media only screen and (max-width: 650px) {
    #home .service h1 {
        font-size: 1.5rem;
        top: -35px;
    }
}
@media only screen and (max-width: 500px) {
    #infos .flex_right {
        display: none;
    }
    #infos .flex_left {
        width: 100%;
        margin: auto 0;
    }
    #infos .flex_left h1 {
        text-align: center;
    }
    #infos .flex_left p {
        text-align: center;
    }


    #chantier .flex_right {
        display: none;
    }
    #chantier .flex_left {
        width: 100%;
        margin: auto 0;
    }
    #chantier .flex_left h1 {
        text-align: center;
    }
    #chantier .flex_left p {
        text-align: center;
    }


    #apropos .flex_right {
        display: none;
    }
    #apropos .flex_left {
        width: 100%;
        margin: auto 0;
    }
    #apropos .flex_left h1 {
        text-align: center;
    }
    #apropos .flex_left p {
        text-align: center;
    }


    #home .flex_right {
        display: none;
    }
    #home .flex_left {
        width: 100%;
        margin: auto 0;
    }
    #home .flex_left h1 {
        text-align: center;
    }
    #home .flex_left h2 {
        text-align: center;
    }
    #home .flex_left p {
        text-align: center;
    }
    #home .flex_left a {
        margin: 0 auto;
        display: table;
    }
    #home .presentation .blocs {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
    }
    #home .presentation .bloc {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }


    #footer .footer_flex {
        display: flex;
        flex-flow: column wrap;
    }
    #footer .footer_flex h1{
        text-align: center;
        margin-bottom: 0.5rem;
    }
    #footer .footer_flex p{
        text-align: center;
    }
    #footer .footer_flex li{
        text-align: center;
    }
    #footer .footer_flex .footer_bloc{
        margin-bottom: 0.5rem;
    }
    .degrade_bas {
        bottom: -25px;
    }
}
@media only screen and (max-width: 480px) {
    #home .service h1 {
        font-size: 1rem;
        top: -25px;
        left: 1rem;
    }
}
@media only screen and (max-width: 350px) {
    .degrade_haut {
        top: -15px;
    }
}
