* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root {
    --jaune: #FFB930;
    --gris : #868686;
}
.wrap {
    max-width: 1140px;
    margin: auto;
    width: 100%;
    padding: 0 1rem;
}
ul, li {
    list-style: none;
}
.span_logo {
    color: var(--jaune);
}
.separator {
    width: 100%;
    height: 2px;
    background-color: var(--jaune);
    margin: 1rem 0;
}
/*HEADER*/

#header {
    margin: 1rem 0;
}
#header .header_flex {
    display: flex;
    justify-content: space-between;
}
#header .header_flex .logo h1 {
    font-size: 2rem;
}
#header .header_flex .logo a {
    text-decoration: none;
    color: black;
}
#header .header_flex .header_nav nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 2rem;
}
#header .header_flex .header_nav nav ul a {
    text-decoration: none;
    color: var(--gris);
}
#header .header_flex .header_nav nav ul a:hover {
    color: var(--jaune);
}
#header .header_flex .header_nav nav ul .contact {
    border: var(--jaune) solid 1px;
    border-radius: 20px;
    background-color: var(--jaune);
    color: white;
    padding: 0.5rem 1.2rem;
}
#header .header_flex .header_nav nav ul .contact:hover {
background-color: white;
    color: var(--jaune);
}
/*Footer*/
#footer {
    margin-top: 3rem;
}
#footer .footer_flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#footer .footer_flex .footer_logo {
    margin: auto 0;
}
#footer .footer_flex .footer_bloc li {
    margin-top: 0.3rem;
}
#footer .footer_flex .footer_logo h1 {
    font-size: 2rem;
}
#footer .footer_flex .footer_logo a {
    text-decoration: none;
    color: black;
}
#footer .footer_flex .footer_bloc p {
    color: var(--jaune);
    font-weight: bold;
    margin-bottom: 0.5rem;
}
#footer .footer_flex .footer_bloc a {
    text-decoration: none;
    color: var(--gris);
}
#footer .footer_flex .footer_bloc a:hover {
    color: var(--jaune);
}


#footer .footer_copyright {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#footer .footer_copyright p {
    margin: auto 0;
}
#footer .footer_copyright ul {
    display: flex;
    gap: 1rem;
}
/*HOME*/
#home .home_flex {
    display: flex;
    margin-top: 3rem;
}
#home .flex_left {
    width: 49%;
    margin: auto 0;
}
#home .flex_left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}
#home .flex_left h2 {
    color: var(--jaune);
    margin-bottom: 1rem;
}
#home .flex_left p {
    margin-bottom: 2rem;
    color: var(--gris);
}
#home .flex_left a {
    border: var(--jaune) solid 1px;
    border-radius: 25px;
    background-color: var(--jaune);
    color: white;
    padding: 1.2rem 3rem;
    text-decoration: none;
}
#home .flex_left a:hover {
    background-color: white;
    color: var(--jaune);
}
#home .flex_right {
    width: 49%;
    margin: auto;
}
#home .flex_right img {
    width: 100%;
}
#home .presentation {
    margin-top: 2rem;
}
#home .presentation .bloc{
    width: 30%;
    text-align: center;
}
#home .presentation .bloc img{
    width: 60%;
}
#home .presentation .blocs{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#home .service {
    margin-top: 4rem;
    background-color: var(--jaune);
}
#home .service h1 {
    margin-bottom: 3rem;
}
#home .service .service_bloc {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#home .service .service_bloc .bloc {
    width: 48%;
    margin-bottom: 2rem;
    display: flex;
}
#home .service .service_bloc .bloc .bloc_text {
    margin: auto 0;
    padding-left: 1rem;
}
#home .service .service_bloc .bloc h3 {
    margin-bottom: 0.3rem;
}
#home .service .service_bloc .bloc img {
    width: 200px;
    height: 200px;
}
    /*A propos*/

#apropos .home_flex {
    display: flex;
    margin-top: 3rem;
    min-height: calc(100vh - 350px)
}
#apropos .flex_left {
    width: 49%;
    margin: auto 0;
}
#apropos .flex_left h1 {
    margin-bottom: 3rem;
    font-size: 3rem;
}
#apropos .flex_left p {
    margin-bottom: 2rem;
    color: var(--gris);
}
#apropos .flex_right {
    width: 49%;
    margin: auto;
}
#apropos .flex_right img {
    width: 70%;
    margin-left: 25%;
}
/*Chantier*/
#chantier .home_flex {
    display: flex;
    margin-top: 3rem;
    min-height: calc(100vh - 350px)
}
#chantier .flex_left {
    width: 49%;
    margin: auto 0;
}
#chantier .flex_left h1 {
    margin-bottom: 3rem;
    font-size: 3rem;
}
#chantier .flex_left p {
    margin-bottom: 2rem;
    color: var(--gris);
}
#chantier .flex_right {
    width: 49%;
    margin: auto;
}
#chantier .flex_right img {
    width: 70%;
    margin-left: 25%;
}
/*Infos*/
#infos .home_flex {
    display: flex;
    margin-top: 3rem;
    min-height: calc(100vh - 350px)
}
#infos .flex_left {
    width: 49%;
    margin: auto 0;
}
#infos .flex_left h1 {
    margin-bottom: 3rem;
    font-size: 3rem;
}
#infos .flex_left p {
    margin-bottom: 2rem;
    color: var(--gris);
}
#infos .flex_right {
    width: 49%;
    margin: auto;
}
#infos .flex_right img {
    width: 70%;
    margin-left: 25%;
}
/*Contact*/
#contact .home_flex {
    display: flex;
    margin-top: 3rem;
    min-height: calc(100vh - 350px)
}
#contact .flex_left {
    width: 49%;
    margin: auto 0;
}
#contact .flex_left h1 {
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    font-size: 2rem;
    text-align: center;
}
#contact .flex_right {
    width: 49%;
    margin: auto;
}
#contact .flex_right img {
    width: 70%;
    margin-left: 25%;
    margin-top: 5rem;
}
/*Form Contact*/
#contact label {
    font-size: 1.2rem;
}
#contact .form2 {
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
}
#contact .form2 div {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
}
#contact .form2 input {
    width: 300px;
    margin-bottom: 1rem;

    background-color: var(--jaune);
    border: none;
    border-radius: 10px;
    padding: 0.7rem;

    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.36);
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.36);
}
#contact .form2 .input_message input {
    padding-bottom: 5rem;
}
#contact .form1{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 300px;
    margin: 0 auto;
}
#contact .form1 input {
    width: 140px;
    margin-bottom: 1rem;

    background-color: var(--jaune);
    border: none;
    border-radius: 10px;
    padding: 0.7rem;

    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.36);
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.36);
}
#contact .form2 textarea {
    width: 300px;
    margin-bottom: 1rem;
    resize: none;

    background-color: var(--jaune);
    border: none;
    border-radius: 10px;
    padding-bottom: 5rem;

    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.36);
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.36);
}
#contact .form1 .form_nom, .form_prenom{
    display: flex;
    flex-flow: column;
}
#contact .input_submit {
    display: flex;
    justify-content: center;
}
#contact .flex_left form .submitted {
    border: var(--jaune) solid 1px;
    border-radius: 20px;
    background-color: var(--jaune);
    color: white;
    padding: 0.8rem 4rem;
    text-decoration: none;
    margin-top: 2rem;
    cursor: pointer;

    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.36);
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.36);
}
#contact .flex_left form .submitted:hover {
    color: var(--jaune);
    background-color: white;
}

/*Responsive*/

@media only screen and (max-width: 700px) {
    #contact .flex_right {
       display: none;
    }
    #contact .flex_left {
        width: 100%;
        margin: auto 0;
    }
}
@media only screen and (max-width: 500px) {
    #infos .flex_right {
        display: none;
    }
    #infos .flex_left {
        width: 100%;
        margin: auto 0;
    }
    #infos .flex_left h1 {
        text-align: center;
    }
    #infos .flex_left p {
        text-align: center;
    }


    #chantier .flex_right {
        display: none;
    }
    #chantier .flex_left {
        width: 100%;
        margin: auto 0;
    }
    #chantier .flex_left h1 {
        text-align: center;
    }
    #chantier .flex_left p {
        text-align: center;
    }


    #apropos .flex_right {
        display: none;
    }
    #apropos .flex_left {
        width: 100%;
        margin: auto 0;
    }
    #apropos .flex_left h1 {
        text-align: center;
    }
    #apropos .flex_left p {
        text-align: center;
    }
}
